<a href="https://colab.research.google.com/github/olgaoblomova/Python_repository/blob/main/Diplom_BIG_DATA_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Загрузка датафреймов

Создаю датафрейм с фильмами

In [ ]:
df_movies = pd.read_csv("movies.csv")

In [ ]:
df_movies.tail()

      movie id                                movie title   ... War  Western
1678     1679.0                           B. Monkey (1998)  ...   0        0
1679     1680.0                       Sliding Doors (1998)  ...   0        0
1680     1681.0                        You So Crazy (1994)  ...   0        0
1681     1682.0  Scream of Stone (Schrei aus Stein) (1991)  ...   0        0
1682        NaN                                        NaN  ...  71       27

[5 rows x 24 columns]

In [ ]:
df_movies.columns

Index(['movie id ', 'movie title ', 'release date ', 'video release date ',
       'IMDb URL ', 'unknown ', 'Action ', 'Adventure', 'Animation',
       'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western'],
      dtype='object')

In [ ]:
df_movies.columns = ['movie_id', 'movie title', 'release date', 'video release date',
       'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
       'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
       'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Thriller', 'War', 'Western']

In [ ]:
df_movies

      movie_id                                movie title  ... War  Western
0          1.0                           Toy Story (1995)  ...   0        0
1          2.0                           GoldenEye (1995)  ...   0        0
2          3.0                          Four Rooms (1995)  ...   0        0
3          4.0                          Get Shorty (1995)  ...   0        0
4          5.0                             Copycat (1995)  ...   0        0
...        ...                                        ...  ...  ..      ...
1678    1679.0                           B. Monkey (1998)  ...   0        0
1679    1680.0                       Sliding Doors (1998)  ...   0        0
1680    1681.0                        You So Crazy (1994)  ...   0        0
1681    1682.0  Scream of Stone (Schrei aus Stein) (1991)  ...   0        0
1682       NaN                                        NaN  ...  71       27

[1683 rows x 24 columns]

In [ ]:
df_movies.drop(df_movies.tail(1).index,inplace=True)

In [ ]:
df_movies['movie_id'] =  df_movies['movie_id'].astype(int)

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie title         1682 non-null   object
 2   release date        1681 non-null   object
 3   video release date  266 non-null    float64
 4   IMDb URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Childrens           1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 328.5+ KB

In [ ]:
df_movies.head()

   movie_id        movie title release date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [ ]:
df_movies[df_movies['release date'].isnull()]

     movie_id movie title release date  ...  Thriller War  Western
266       267     unknown          NaN  ...         0   0        0

[1 rows x 24 columns]

In [ ]:
df_movies.value_counts('release date')

release date
01-Jan-1995    215
01-Jan-1994    213
01-Jan-1993    126
01-Jan-1997     98
01-Jan-1992     37
              ...
01-Sep-1997      1
02-Apr-1996      1
17-Oct-1997      1
17-May-1996      1
4-Feb-1971       1
Length: 240, dtype: int64

Заполняю пустое значение в поле release date самым часто встречающимся значением

In [ ]:
df_movies.fillna('01-Jan-1995',inplace=True)

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie title         1682 non-null   object
 2   release date        1682 non-null   object
 3   video release date  1682 non-null   object
 4   IMDb URL            1682 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Childrens           1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: int64(20), object(4)
memory usage: 328.5+ KB

Выделяю год из столбца release date

In [ ]:
df_movies['release_year'] = df_movies['release date'].apply(lambda d: int(d.rpartition('-')[2]))

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 0 to 1681
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie title         1682 non-null   object
 2   release date        1682 non-null   object
 3   video release date  1682 non-null   object
 4   IMDb URL            1682 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Childrens           1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
 24  release_year        1682 non-null   int64
dtypes: int64(21), object(4)
memory usage: 341.7+ KB

In [ ]:
df_movies.tail()

      movie_id  ... release_year
1677      1678  ...         1998
1678      1679  ...         1998
1679      1680  ...         1998
1680      1681  ...         1994
1681      1682  ...         1996

[5 rows x 25 columns]

Создаю датафрейм с рейтингом фильмов

In [ ]:
df_rating = pd.read_csv("rating.csv")

In [ ]:
df_rating.head()

   user id  item id  rating  timestamp        дата  год месяц
0      196      242       3  881250949  04.12.1997    1997.12
1      115      265       2  881171488  03.12.1997    1997.12
2        6       86       3  883603013  31.12.1997    1997.12
3      301       98       4  882075827  14.12.1997    1997.12
4      178      332       3  882823437  22.12.1997    1997.12

In [ ]:
df_rating.columns

Index(['user id', 'item id', 'rating', 'timestamp', 'дата', 'год месяц'], dtype='object')

In [ ]:
df_rating.columns = ['user_id', 'movie_id', 'rating', 'timestamp', 'date', 'год месяц']

In [ ]:
df_rating.drop('год месяц', axis = 1, inplace = True)
df_rating

       user_id  movie_id  rating  timestamp        date
0          196       242       3  881250949  04.12.1997
1          115       265       2  881171488  03.12.1997
2            6        86       3  883603013  31.12.1997
3          301        98       4  882075827  14.12.1997
4          178       332       3  882823437  22.12.1997
...        ...       ...     ...        ...         ...
99995      880       476       3  880175444  22.11.1997
99996      716       204       5  879795543  17.11.1997
99997      276      1090       1  874795795  20.09.1997
99998       13       225       2  882399156  17.12.1997
99999       12       203       3  879959583  19.11.1997

[100000 rows x 5 columns]

In [ ]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
 4   date       100000 non-null  object
dtypes: int64(4), object(1)
memory usage: 3.8+ MB

In [ ]:
df_rating.drop(['timestamp', 'date'], axis = 1, inplace= True)

In [ ]:
df_rating

       user_id  movie_id  rating
0          196       242       3
1          115       265       2
2            6        86       3
3          301        98       4
4          178       332       3
...        ...       ...     ...
99995      880       476       3
99996      716       204       5
99997      276      1090       1
99998       13       225       2
99999       12       203       3

[100000 rows x 3 columns]

Создаю датафрейм с общим количеством оценок от всех пользователей на фильм

In [ ]:
df_number_of_rating = df_rating.groupby('movie_id').count().reset_index()

In [ ]:
df_number_of_rating = df_number_of_rating[['movie_id', 'rating']]
df_number_of_rating.columns = ['movie_id', 'number_rating']
df_number_of_rating

      movie_id  number_rating
0            1            452
1            2            131
2            3             90
3            4            209
4            5             86
...        ...            ...
1677      1678              1
1678      1679              1
1679      1680              1
1680      1681              1
1681      1682              1

[1682 rows x 2 columns]

Создаю датафрейм с суммарной оценкой фильма от всех пользователей

In [ ]:
df_sum_of_rating = df_rating.groupby('movie_id').sum().reset_index()

In [ ]:
df_sum_of_rating = df_sum_of_rating[['movie_id','rating']]

In [ ]:
df_sum_of_rating.columns = ['movie_id','sum_rating']
df_sum_of_rating

      movie_id  sum_rating
0            1        1753
1            2         420
2            3         273
3            4         742
4            5         284
...        ...         ...
1677      1678           1
1678      1679           3
1679      1680           2
1680      1681           3
1681      1682           3

[1682 rows x 2 columns]

# Самый активный пользователь

In [ ]:
df_rating.value_counts('user_id').head(1)

user_id
405    737
dtype: int64

**Самый активный пользователь - 405!**

# Дататфрейм с оценками самого активного пользователя

Оставляю в датафрейме ratings только те фильмы, который оценил 405 пользователь

In [ ]:
df_rating = df_rating[df_rating['user_id'] == 405]

In [ ]:
df_rating

       user_id  movie_id  rating
86740      405        56       4
86760      405       592       1
86772      405      1582       1
86775      405       171       1
86777      405       580       1
...        ...       ...     ...
99053      405       375       1
99059      405       445       4
99148      405      1246       1
99465      405       196       1
99756      405       958       1

[737 rows x 3 columns]

# Объединение данных

Объединяю датафрейм rating с датафреймом movies по столбцу movies_id

In [ ]:
df_merge = df_rating.merge(df_movies, on='movie_id', how='left')

In [ ]:
df_merge

     user_id  movie_id  rating  ... War Western release_year
0        405        56       4  ...   0       0         1994
1        405       592       1  ...   0       0         1995
2        405      1582       1  ...   0       0         1947
3        405       171       1  ...   0       0         1991
4        405       580       1  ...   0       0         1995
..       ...       ...     ...  ...  ..     ...          ...
732      405       375       1  ...   0       0         1995
733      405       445       4  ...   0       0         1945
734      405      1246       1  ...   0       0         1995
735      405       196       1  ...   0       0         1989
736      405       958       1  ...   0       0         1994

[737 rows x 27 columns]

Объединяю получившийся датафрейм с датафреймом с общим количеством оценок от всех пользователей на фильм по столбцу movies_id

In [ ]:
df_m2 = df_merge.merge(df_number_of_rating, on = 'movie_id', how = 'left')

Объединяю получившийся датафрейм с датафреймом с суммарной оценкой фильма от всех пользователей

In [ ]:
df_total = df_m2.merge(df_sum_of_rating, on = 'movie_id', how = 'left')

In [ ]:
df_total

     user_id  movie_id  rating  ... release_year number_rating sum_rating
0        405        56       4  ...         1994           394       1600
1        405       592       1  ...         1995             9         30
2        405      1582       1  ...         1947             1          1
3        405       171       1  ...         1991            65        252
4        405       580       1  ...         1995            32        108
..       ...       ...     ...  ...          ...           ...        ...
732      405       375       1  ...         1995            23         45
733      405       445       4  ...         1945            22         77
734      405      1246       1  ...         1995             7         11
735      405       196       1  ...         1989           251        983
736      405       958       1  ...         1994            14         53

[737 rows x 29 columns]

In [ ]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             737 non-null    int64
 1   movie_id            737 non-null    int64
 2   rating              737 non-null    int64
 3   movie title         737 non-null    object
 4   release date        737 non-null    object
 5   video release date  737 non-null    object
 6   IMDb URL            737 non-null    object
 7   unknown             737 non-null    int64
 8   Action              737 non-null    int64
 9   Adventure           737 non-null    int64
 10  Animation           737 non-null    int64
 11  Childrens           737 non-null    int64
 12  Comedy              737 non-null    int64
 13  Crime               737 non-null    int64
 14  Documentary         737 non-null    int64
 15  Drama               737 non-null    int64
 16  Fantasy             737 non-null    int64
 17  Film-Noir           737 non-null    int64
 18  Horror              737 non-null    int64
 19  Musical             737 non-null    int64
 20  Mystery             737 non-null    int64
 21  Romance             737 non-null    int64
 22  Sci-Fi              737 non-null    int64
 23  Thriller            737 non-null    int64
 24  War                 737 non-null    int64
 25  Western             737 non-null    int64
 26  release_year        737 non-null    int64
 27  number_rating       737 non-null    int64
 28  sum_rating          737 non-null    int64
dtypes: int64(25), object(4)
memory usage: 172.7+ KB

Удаляю столбцы с ненужными для модели данными (категориальные и 2 столбца с  датами)

In [ ]:
df_total.drop(['user_id','movie_id','movie title','release date','video release date','IMDb URL'], axis = 1, inplace= True)

In [ ]:
df_total

     rating  unknown  Action  ...  release_year  number_rating  sum_rating
0         4        0       0  ...          1994            394        1600
1         1        0       0  ...          1995              9          30
2         1        0       0  ...          1947              1           1
3         1        0       0  ...          1991             65         252
4         1        0       0  ...          1995             32         108
..      ...      ...     ...  ...           ...            ...         ...
732       1        0       0  ...          1995             23          45
733       4        0       0  ...          1945             22          77
734       1        0       0  ...          1995              7          11
735       1        0       0  ...          1989            251         983
736       1        0       0  ...          1994             14          53

[737 rows x 23 columns]

#Машинное обучение

In [ ]:
df_total_= df_total.drop(['rating'], axis = 1)

Создаю модель линейной регрессии

Разделяю выбору на тренировочную и тестовую

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_total_, df_total['rating'], test_size=0.2)

Привожу данные к одному масштабу

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

Импортирую LDA-функционал

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [ ]:
lda = LinearDiscriminantAnalysis()

Обучаю данные

In [ ]:

lda.fit(x_train, y_train)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

Делаю прогноз на тестовой выборке

In [ ]:

lda.predict(x_test)

array([1, 1, 5, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 5, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1,
       1, 5, 1, 1, 2, 1, 3, 1, 5, 1, 1, 1, 1, 1, 5, 3, 1, 5, 1, 1, 5, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 5, 1, 5, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4,
       2, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5])

Тестовые значения

In [ ]:
y_test

469    4
34     1
261    4
194    1
641    2
      ..
708    1
216    3
322    1
590    1
396    5
Name: rating, Length: 148, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

Расчет точности

In [ ]:
accuracy_score(y_test, lda.predict(x_test))

0.6148648648648649

Не самая высокая точность..

#Спарк

 Установливаю PySpark

In [ ]:
!apt-get update

Hit:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Get:6 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:8 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,652 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,188 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [505 kB]
Get:18 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.5 kB]
Ign:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [599 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [473 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,219 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,418 kB]
Fetched 10.4 MB in 3s (3,032 kB/s)
Reading package lists... Done

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q www-us.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

In [ ]:
!tar -xvf spark-2.4.8-bin-hadoop2.7.tgz

spark-2.4.8-bin-hadoop2.7/
spark-2.4.8-bin-hadoop2.7/LICENSE
spark-2.4.8-bin-hadoop2.7/NOTICE
spark-2.4.8-bin-hadoop2.7/R/
spark-2.4.8-bin-hadoop2.7/R/lib/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/DESCRIPTION
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/INDEX
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/Rd.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/features.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/hsearch.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/links.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/nsInfo.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/Meta/package.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/NAMESPACE
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdb
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/R/SparkR.rdx
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/AnIndex
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdb
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/SparkR.rdx
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/aliases.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/help/paths.rds
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/00Index.html
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/html/R.css
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/general.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/profile/shell.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/testthat/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/tests/testthat/test_basic.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/daemon.R
spark-2.4.8-bin-hadoop2.7/R/lib/SparkR/worker/worker.R
spark-2.4.8-bin-hadoop2.7/R/lib/sparkr.zip
spark-2.4.8-bin-hadoop2.7/README.md
spark-2.4.8-bin-hadoop2.7/RELEASE
spark-2.4.8-bin-hadoop2.7/bin/
spark-2.4.8-bin-hadoop2.7/bin/beeline
spark-2.4.8-bin-hadoop2.7/bin/beeline.cmd
spark-2.4.8-bin-hadoop2.7/bin/docker-image-tool.sh
spark-2.4.8-bin-hadoop2.7/bin/find-spark-home
spark-2.4.8-bin-hadoop2.7/bin/find-spark-home.cmd
spark-2.4.8-bin-hadoop2.7/bin/load-spark-env.cmd
spark-2.4.8-bin-hadoop2.7/bin/load-spark-env.sh
spark-2.4.8-bin-hadoop2.7/bin/pyspark
spark-2.4.8-bin-hadoop2.7/bin/pyspark.cmd
spark-2.4.8-bin-hadoop2.7/bin/pyspark2.cmd
spark-2.4.8-bin-hadoop2.7/bin/run-example
spark-2.4.8-bin-hadoop2.7/bin/run-example.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-class
spark-2.4.8-bin-hadoop2.7/bin/spark-class.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-class2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-shell
spark-2.4.8-bin-hadoop2.7/bin/spark-shell.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-shell2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-sql
spark-2.4.8-bin-hadoop2.7/bin/spark-sql.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-sql2.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-submit
spark-2.4.8-bin-hadoop2.7/bin/spark-submit.cmd
spark-2.4.8-bin-hadoop2.7/bin/spark-submit2.cmd
spark-2.4.8-bin-hadoop2.7/bin/sparkR
spark-2.4.8-bin-hadoop2.7/bin/sparkR.cmd
spark-2.4.8-bin-hadoop2.7/bin/sparkR2.cmd
spark-2.4.8-bin-hadoop2.7/conf/
spark-2.4.8-bin-hadoop2.7/conf/docker.properties.template
spark-2.4.8-bin-hadoop2.7/conf/fairscheduler.xml.template
spark-2.4.8-bin-hadoop2.7/conf/log4j.properties.template
spark-2.4.8-bin-hadoop2.7/conf/metrics.properties.template
spark-2.4.8-bin-hadoop2.7/conf/slaves.template
spark-2.4.8-bin-hadoop2.7/conf/spark-defaults.conf.template
spark-2.4.8-bin-hadoop2.7/conf/spark-env.sh.template
spark-2.4.8-bin-hadoop2.7/data/
spark-2.4.8-bin-hadoop2.7/data/graphx/
spark-2.4.8-bin-hadoop2.7/data/graphx/followers.txt
spark-2.4.8-bin-hadoop2.7/data/graphx/users.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/
spark-2.4.8-bin-hadoop2.7/data/mllib/als/
spark-2.4.8-bin-hadoop2.7/data/mllib/als/sample_movielens_ratings.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/als/test.data
spark-2.4.8-bin-hadoop2.7/data/mllib/gmm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/license.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/29.5.a_b_EGDP022204.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/54893.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/DP153539.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/DP802813.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/kittens/not-image.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/license.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/BGRA.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/BGRA_alpha_60.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/chr30.4.184.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/origin/multi-channel/grayscale.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/29.5.a_b_EGDP022204.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-01/not-image.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/54893.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP153539.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=kittens/date=2018-02/DP802813.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA_alpha_60.png
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/chr30.4.184.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/images/partitioned/cls=multichannel/date=2018-02/grayscale.jpg
spark-2.4.8-bin-hadoop2.7/data/mllib/iris_libsvm.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/kmeans_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/pagerank_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/pic_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/ridge-data/
spark-2.4.8-bin-hadoop2.7/data/mllib/ridge-data/lpsa.data
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_binary_classification_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_fpgrowth.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_kmeans_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_lda_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_lda_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_libsvm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_linear_regression_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_movielens_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_multiclass_classification_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/sample_svm_data.txt
spark-2.4.8-bin-hadoop2.7/data/mllib/streaming_kmeans_data_test.txt
spark-2.4.8-bin-hadoop2.7/data/streaming/
spark-2.4.8-bin-hadoop2.7/data/streaming/AFINN-111.txt
spark-2.4.8-bin-hadoop2.7/examples/
spark-2.4.8-bin-hadoop2.7/examples/jars/
spark-2.4.8-bin-hadoop2.7/examples/jars/scopt_2.11-3.7.0.jar
spark-2.4.8-bin-hadoop2.7/examples/jars/spark-examples_2.11-2.4.8.jar
spark-2.4.8-bin-hadoop2.7/examples/src/
spark-2.4.8-bin-hadoop2.7/examples/src/main/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaHdfsLR.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaLogQuery.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaPageRank.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaStatusTrackerDemo.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaTC.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/JavaWordCount.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaAFTSurvivalRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaALSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBinarizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBisectingKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketedRandomProjectionLSHExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSqSelectorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSquareTestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaCorrelationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaCountVectorizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDCTExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaDocument.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaElementwiseProductExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaEstimatorTransformerParamExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaFPGrowthExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaFeatureHasherExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGaussianMixtureExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGeneralizedLinearRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeRegressorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaImputerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaIndexToStringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaInteractionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaIsotonicRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLDAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLabeledDocument.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLinearSVCExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionSummaryExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaLogisticRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMaxAbsScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMinHashLSHExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMinMaxScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaCrossValidationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaModelSelectionViaTrainValidationSplitExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMulticlassLogisticRegressionWithElasticNetExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaMultilayerPerceptronClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNGramExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNaiveBayesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaNormalizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaOneHotEncoderEstimatorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaOneVsRestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPCAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPipelineExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPolynomialExpansionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPowerIterationClusteringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaPrefixSpanExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaQuantileDiscretizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRFormulaExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestClassifierExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaRandomForestRegressorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaSQLTransformerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStandardScalerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStopWordsRemoverExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaStringIndexerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaSummarizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaTfIdfExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaTokenizerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorAssemblerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorIndexerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSizeHintExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaVectorSlicerExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/ml/JavaWord2VecExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaALS.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaAssociationRulesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaBinaryClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaBisectingKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaChiSqSelectorExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaCorrelationsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaDecisionTreeRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaElementwiseProductExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGaussianMixtureExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaGradientBoostingRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaHypothesisTestingKolmogorovSmirnovTestExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaIsotonicRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaKMeansExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaKernelDensityEstimationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLBFGSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLatentDirichletAllocationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLinearRegressionWithSGDExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaLogisticRegressionWithLBFGSExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaMultiLabelClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaMulticlassClassificationMetricsExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaNaiveBayesExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPCAExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPowerIterationClusteringExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaPrefixSpanExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestClassificationExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRandomForestRegressionExample.java
spark-2.4.8-bin-hadoop2.7/examples/src/main/java/org/apache/spark/examples/mllib/JavaRankingMetricsExample.java

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

##Загрузка данных в Spark

In [ ]:
df = spark.read.csv('movies.csv', inferSchema=True, header=True)

In [ ]:
df.show()

+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie id |        movie title |release date |video release date |           IMDb URL |unknown |Action |Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|        1|    Toy Story (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        2|    GoldenEye (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        3|   Four Rooms (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        4|   Get Shorty (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        5|      Copycat (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        6|Shanghai Triad (Y...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        7|Twelve Monkeys (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|
|        8|         Babe (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        9|Dead Man Walking ...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       10|  Richard III (1995)|  22-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|       11|Seven (Se7en) (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       12|Usual Suspects, T...|  14-Aug-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       13|Mighty Aphrodite ...|  30-Oct-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       14|  Postino, Il (1994)|  01-Jan-1994|               1994|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|       15|Mr. Holland's Opu...|  29-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       16|French Twist (Gaz...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|       17|From Dusk Till Da...|  05-Feb-1996|               1996|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|
|       18|White Balloon, Th...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       19|Antonia's Line (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       20|Angels and Insect...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

In [ ]:
df.describe().show()

+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+
|summary|         movie id |        movie title |release date |video release date |           IMDb URL |            unknown |            Action |          Adventure|           Animation|         Children's|            Comedy|             Crime|         Documentary|             Drama|             Fantasy|         Film-Noir|             Horror|            Musical|            Mystery|           Romance|             Sci-Fi|           Thriller|               War|            Western|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+
|  count|              1682|                1682|         1681|                266|                1679|                1683|               1683|               1683|                1683|               1683|              1683|              1683|                1683|              1683|                1683|              1683|               1683|               1683|               1683|              1683|               1683|               1683|              1683|               1683|
|   mean|             841.5|                null|         null| 1989.2142857142858|                null|0.002376708259061...|0.29827688651218065|0.16042780748663102|0.049910873440285206|0.14497920380273321|0.6001188354129531|0.1295306001188354|0.059417706476530004|0.8615567439096851|0.026143790849673203|0.0285204991087344|0.10932857991681522|0.06654783125371361|0.07248960190136661|0.2935234699940582|0.12002376708259062|0.29827688651218065|0.0843731431966726|0.03208556149732621|
| stddev|485.69589250888254|                null|         null| 11.148193138019623|                null| 0.05967855415290377|  6.125047744382864|  3.299973380426147|   1.035002021007929| 2.9833689901974747| 12.31096975078149| 2.666764031151667|  1.2298454194969053|17.668851494984104|  0.5478580457466213|0.5965771451842847|  2.252740904369775| 1.3759758493484688| 1.4977502487764405|6.0276315494735275| 2.4719298327676746|  6.125047744382864|1.7412972008067715| 0.6696527662867141|
|    min|                 1|        1-900 (1994)|  01-Aug-1997|               1937|http://us.imdb.co...|                   0|                  0|                  0|                   0|                  0|                 0|                 0|                   0|                 0|                   0|                 0|                  0|                  0|                  0|                 0|                  0|                  0|                 0|                  0|
|    max|              1682|Á köldum klaka (C...|   4-Feb-1971|               1997|http://us.imdb.co...|                   2|                251|                135|                  42|                122|               505|               109|                  50|               725|                  22|                24|                 92|                 56|                 61|               247|                101|                251|                71|                 27|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+------------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+

In [ ]:
df.where(df['Action '] > 1).show()

+---------+------------+-------------+-------------------+---------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie id |movie title |release date |video release date |IMDb URL |unknown |Action |Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+---------+------------+-------------+-------------------+---------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|     null|        null|         null|               null|     null|       2|    251|      135|       42|       122|   505|  109|         50|  725|     22|       24|    92|     56|     61|    247|   101|     251| 71|     27|
+---------+------------+-------------+-------------------+---------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+

Избавляюсь от строки с итогами

In [ ]:
df_movies_spark = df.where(df['Action '] <= 1)

In [ ]:
df_movies_spark.show()

+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie id |        movie title |release date |video release date |           IMDb URL |unknown |Action |Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|        1|    Toy Story (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        2|    GoldenEye (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        3|   Four Rooms (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        4|   Get Shorty (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        5|      Copycat (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|        6|Shanghai Triad (Y...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        7|Twelve Monkeys (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|
|        8|         Babe (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|        9|Dead Man Walking ...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       10|  Richard III (1995)|  22-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|
|       11|Seven (Se7en) (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       12|Usual Suspects, T...|  14-Aug-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       13|Mighty Aphrodite ...|  30-Oct-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       14|  Postino, Il (1994)|  01-Jan-1994|               1994|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|       15|Mr. Holland's Opu...|  29-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       16|French Twist (Gaz...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
|       17|From Dusk Till Da...|  05-Feb-1996|               1996|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|
|       18|White Balloon, Th...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       19|Antonia's Line (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       20|Angels and Insect...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

In [ ]:
df_movies_spark.describe().show()

+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+
|summary|         movie id |        movie title |release date |video release date |           IMDb URL |            unknown |            Action |         Adventure|          Animation|         Children's|             Comedy|              Crime|         Documentary|              Drama|             Fantasy|           Film-Noir|              Horror|            Musical|            Mystery|            Romance|             Sci-Fi|          Thriller|                War|            Western|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+
|  count|              1682|                1682|         1681|                266|                1679|                1682|               1682|              1682|               1682|               1682|               1682|               1682|                1682|               1682|                1682|                1682|                1682|               1682|               1682|               1682|               1682|              1682|               1682|               1682|
|   mean|             841.5|                null|         null| 1989.2142857142858|                null|0.001189060642092...| 0.1492271105826397|0.0802615933412604|0.02497027348394768|0.07253269916765755|0.30023781212841855|0.06480380499405469|0.029726516052318668|0.43103448275862066|0.013079667063020214|0.014268727705112961|0.054696789536266346|0.03329369797859691|0.03626634958382877|0.14684898929845422|0.06004756242568371|0.1492271105826397|0.04221165279429251|0.01605231866825208|
| stddev|485.69589250888254|                null|         null| 11.148193138019623|                null|0.034472500474212284|0.35641816109515484|0.2717785571305444|0.15608088423430846|0.25944503383362605| 0.4584976014014335| 0.2462525621467922| 0.16988233706244027| 0.4953681954046321| 0.11364976236574524| 0.11863177582846385|  0.2274550708557175|0.17945577207322622| 0.1870077359968219|0.35406057857880563| 0.2376455954301871|0.3564181610951548|0.20113149982303108| 0.1257141110346824|
|    min|                 1|        1-900 (1994)|  01-Aug-1997|               1937|http://us.imdb.co...|                   0|                  0|                 0|                  0|                  0|                  0|                  0|                   0|                  0|                   0|                   0|                   0|                  0|                  0|                  0|                  0|                 0|                  0|                  0|
|    max|              1682|Á köldum klaka (C...|   4-Feb-1971|               1997|http://us.imdb.co...|                   1|                  1|                 1|                  1|                  1|                  1|                  1|                   1|                  1|                   1|                   1|                   1|                  1|                  1|                  1|                  1|                 1|                  1|                  1|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+

In [ ]:
df_movies_spark.columns

['movie id ',
 'movie title ',
 'release date ',
 'video release date ',
 'IMDb URL ',
 'unknown ',
 'Action ',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [ ]:
df_rating_spark = spark.read.csv('rating.csv', inferSchema=True, header=True)

In [ ]:
df_rating_spark.describe().show()

+-------+------------------+-----------------+------------------+------------------+----------+------------------+
|summary|           user id|          item id|            rating|         timestamp|      дата|         год месяц|
+-------+------------------+-----------------+------------------+------------------+----------+------------------+
|  count|            100000|           100000|            100000|            100000|    100000|            100000|
|   mean|         462.48475|        425.53013|           3.52986| 8.8352885148862E8|      null|1997.5391669001174|
| stddev|266.61442012750894|330.7983563255838|1.1256735991443159|5343856.1895040395|      null| 0.457295571969079|
|    min|                 1|                1|                 1|         874724710|01.01.1998|           1997.09|
|    max|               943|             1682|                 5|         893286638|31.12.1997|           1998.04|
+-------+------------------+-----------------+------------------+------------------+----------+------------------+

In [ ]:
df_rating_spark.show()

+-------+-------+------+---------+----------+---------+
|user id|item id|rating|timestamp|      дата|год месяц|
+-------+-------+------+---------+----------+---------+
|    196|    242|     3|881250949|04.12.1997|  1997.12|
|    115|    265|     2|881171488|03.12.1997|  1997.12|
|      6|     86|     3|883603013|31.12.1997|  1997.12|
|    301|     98|     4|882075827|14.12.1997|  1997.12|
|    178|    332|     3|882823437|22.12.1997|  1997.12|
|     42|    423|     5|881107687|03.12.1997|  1997.12|
|    292|    515|     4|881103977|02.12.1997|  1997.12|
|    115|     20|     3|881171009|03.12.1997|  1997.12|
|     13|    526|     3|882141053|14.12.1997|  1997.12|
|     60|    427|     5|883326620|28.12.1997|  1997.12|
|    178|    248|     4|882823954|22.12.1997|  1997.12|
|     42|    403|     3|881108684|03.12.1997|  1997.12|
|     28|    209|     4|881961214|12.12.1997|  1997.12|
|     42|     96|     5|881107178|02.12.1997|  1997.12|
|    279|    832|     3|881375854|06.12.1997|  1997.12|
|     13|    836|     2|882139746|14.12.1997|  1997.12|
|     84|    405|     3|883452363|30.12.1997|  1997.12|
|     42|    794|     3|881108425|03.12.1997|  1997.12|
|     44|    294|     4|883612356|31.12.1997|  1997.12|
|     66|    298|     4|883601324|31.12.1997|  1997.12|
+-------+-------+------+---------+----------+---------+
only showing top 20 rows

##Cредняя оценка для каждого фильма

In [ ]:
df_gr = df_rating_spark.groupBy('item id')

In [ ]:
df_med_rating = df_gr.mean('rating')

Вывожу среднюю оценку для каждого фильма

In [ ]:
df_med_rating.show()

+-------+------------------+
|item id|       avg(rating)|
+-------+------------------+
|    463| 3.859154929577465|
|    148|          3.203125|
|    496| 4.121212121212121|
|   1088| 2.230769230769231|
|    471|3.6108597285067874|
|    833| 3.204081632653061|
|   1591|3.1666666666666665|
|   1238|             3.125|
|   1342|               2.5|
|   1645|               4.0|
|   1580|               1.0|
|    858|               1.0|
|    243|2.4393939393939394|
|   1025|2.9318181818181817|
|    540| 2.511627906976744|
|    392|3.5441176470588234|
|    737| 2.983050847457627|
|    623| 2.923076923076923|
|   1084| 3.857142857142857|
|   1395|2.3333333333333335|
+-------+------------------+
only showing top 20 rows

In [ ]:
df_med_rating = df_med_rating.withColumnRenamed("item id", "movie id ")

In [ ]:
df_med_rating.show()

+---------+------------------+
|movie id |       avg(rating)|
+---------+------------------+
|      463| 3.859154929577465|
|      148|          3.203125|
|      496| 4.121212121212121|
|     1088| 2.230769230769231|
|      471|3.6108597285067874|
|      833| 3.204081632653061|
|     1591|3.1666666666666665|
|     1238|             3.125|
|     1342|               2.5|
|     1645|               4.0|
|     1580|               1.0|
|      858|               1.0|
|      243|2.4393939393939394|
|     1025|2.9318181818181817|
|      540| 2.511627906976744|
|      392|3.5441176470588234|
|      737| 2.983050847457627|
|      623| 2.923076923076923|
|     1084| 3.857142857142857|
|     1395|2.3333333333333335|
+---------+------------------+
only showing top 20 rows

In [ ]:
df_med_rating.columns

['movie id ', 'avg(rating)']

Объединяю датафрейм с фильмами с датафреймом со средним рейтингом для каждого фильма

In [ ]:
df_sum = df_movies_spark.join(df_med_rating, 'movie id ', how='left')

In [ ]:
df_sum.show()

+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
|movie id |        movie title |release date |video release date |           IMDb URL |unknown |Action |Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|       avg(rating)|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
|        1|    Toy Story (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.8783185840707963|
|        2|    GoldenEye (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|3.2061068702290076|
|        3|   Four Rooms (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.033333333333333|
|        4|   Get Shorty (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0| 3.550239234449761|
|        5|      Copycat (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.302325581395349|
|        6|Shanghai Triad (Y...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0| 3.576923076923077|
|        7|Twelve Monkeys (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0| 3.798469387755102|
|        8|         Babe (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.9954337899543377|
|        9|Dead Man Walking ...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.8963210702341136|
|       10|  Richard III (1995)|  22-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0| 3.831460674157303|
|       11|Seven (Se7en) (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.847457627118644|
|       12|Usual Suspects, T...|  14-Aug-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 4.385767790262173|
|       13|Mighty Aphrodite ...|  30-Oct-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.4184782608695654|
|       14|  Postino, Il (1994)|  01-Jan-1994|               1994|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.9672131147540983|
|       15|Mr. Holland's Opu...|  29-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.7781569965870307|
|       16|French Twist (Gaz...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.2051282051282053|
|       17|From Dusk Till Da...|  05-Feb-1996|               1996|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0| 3.119565217391304|
|       18|White Balloon, Th...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|               2.8|
|       19|Antonia's Line (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.9565217391304346|
|       20|Angels and Insect...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.4166666666666665|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
only showing top 20 rows

In [ ]:
df_sum.describe().show()

+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+
|summary|         movie id |        movie title |release date |video release date |           IMDb URL |            unknown |            Action |         Adventure|          Animation|         Children's|             Comedy|              Crime|         Documentary|              Drama|             Fantasy|           Film-Noir|              Horror|            Musical|            Mystery|            Romance|             Sci-Fi|          Thriller|                War|            Western|       avg(rating)|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+
|  count|              1682|                1682|         1681|                266|                1679|                1682|               1682|              1682|               1682|               1682|               1682|               1682|                1682|               1682|                1682|                1682|                1682|               1682|               1682|               1682|               1682|              1682|               1682|               1682|              1682|
|   mean|             841.5|                null|         null| 1989.2142857142858|                null|0.001189060642092...| 0.1492271105826397|0.0802615933412604|0.02497027348394768|0.07253269916765755|0.30023781212841855|0.06480380499405469|0.029726516052318668|0.43103448275862066|0.013079667063020214|0.014268727705112961|0.054696789536266346|0.03329369797859691|0.03626634958382877|0.14684898929845422|0.06004756242568371|0.1492271105826397|0.04221165279429251|0.01605231866825208|3.0760445083251824|
| stddev|485.69589250888254|                null|         null| 11.148193138019623|                null|0.034472500474212284|0.35641816109515484|0.2717785571305444|0.15608088423430846|0.25944503383362605| 0.4584976014014335| 0.2462525621467922| 0.16988233706244027| 0.4953681954046321| 0.11364976236574524| 0.11863177582846385|  0.2274550708557175|0.17945577207322622| 0.1870077359968219|0.35406057857880563| 0.2376455954301871|0.3564181610951548|0.20113149982303108| 0.1257141110346824|0.7816615317896564|
|    min|                 1|        1-900 (1994)|  01-Aug-1997|               1937|http://us.imdb.co...|                   0|                  0|                 0|                  0|                  0|                  0|                  0|                   0|                  0|                   0|                   0|                   0|                  0|                  0|                  0|                  0|                 0|                  0|                  0|               1.0|
|    max|              1682|Á köldum klaka (C...|   4-Feb-1971|               1997|http://us.imdb.co...|                   1|                  1|                 1|                  1|                  1|                  1|                  1|                   1|                  1|                   1|                   1|                   1|                  1|                  1|                  1|                  1|                 1|                  1|                  1|               5.0|
+-------+------------------+--------------------+-------------+-------------------+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+

##Средняя оценка по жанрам

In [ ]:
from pyspark.sql import Row 
from pyspark import SparkContext
sc =SparkContext.getOrCreate()
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType
from pyspark.sql.types import *

In [ ]:
def average_raiting(d):
  """
  Функция подсчитывает среднюю оценку для каждого жанра из списка list_genres
  """
  schema = StructType([StructField("genres", StringType(), True),
                      StructField("average_raiting", IntegerType(), False)]
                     )
  df_test = spark.createDataFrame([], schema)
  list_genres = ['unknown ',
  'Action ',
  'Adventure',
  'Animation',
  "Children's",
  'Comedy',
  'Crime',
  'Documentary',
  'Drama',
  'Fantasy',
  'Film-Noir',
  'Horror',
  'Musical',
  'Mystery',
  'Romance',
  'Sci-Fi',
  'Thriller',
  'War',
  'Western']
  row1 = Row('genres', 'average_raiting')
  for i in range(len(list_genres)):
      s = d.groupBy(list_genres[i]).mean('avg(rating)')
      s = s.where(s[list_genres[i]] == 1).collect()[0][1]
      df_avr_rait = sc.parallelize([row1(list_genres[i], s)]).toDF()
      df_test = df_test.union(df_avr_rait)
  return df_test.show()

Вывожу среднюю среднюю оценку для каждого жанра

In [ ]:
average_raiting(df_sum)

+-----------+------------------+
|     genres|   average_raiting|
+-----------+------------------+
|   unknown |2.2222222222222223|
|    Action | 2.966332403758986|
|  Adventure|3.1439673136976105|
|  Animation|3.2988130803823776|
| Children's| 2.916884891868897|
|     Comedy|3.0005649618406727|
|      Crime|3.2110147495997547|
|Documentary| 3.229273094093941|
|      Drama|3.1873534142973314|
|    Fantasy| 2.849830297920943|
|  Film-Noir|3.5483508757184237|
|     Horror| 2.730157352996138|
|    Musical| 3.376423123539873|
|    Mystery| 3.336813932383023|
|    Romance|3.2440490301647995|
|     Sci-Fi|3.1654460532512894|
|   Thriller| 3.136692475563836|
|        War| 3.489185428943569|
|    Western| 3.185617473056144|
+-----------+------------------+

##5 самых популярных и самыми непопулярных фильмов

In [ ]:
df_sum.columns

['movie id ',
 'movie title ',
 'release date ',
 'video release date ',
 'IMDb URL ',
 'unknown ',
 'Action ',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western',
 'avg(rating)']

In [ ]:
df_sum = df_sum.withColumnRenamed('avg(rating)', 'avg_rating')
df_sum.show()

+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
|movie id |        movie title |release date |video release date |           IMDb URL |unknown |Action |Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|        avg_rating|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
|        1|    Toy Story (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.8783185840707963|
|        2|    GoldenEye (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|3.2061068702290076|
|        3|   Four Rooms (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.033333333333333|
|        4|   Get Shorty (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0| 3.550239234449761|
|        5|      Copycat (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.302325581395349|
|        6|Shanghai Triad (Y...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0| 3.576923076923077|
|        7|Twelve Monkeys (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0| 3.798469387755102|
|        8|         Babe (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.9954337899543377|
|        9|Dead Man Walking ...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.8963210702341136|
|       10|  Richard III (1995)|  22-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0| 3.831460674157303|
|       11|Seven (Se7en) (1995)|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 3.847457627118644|
|       12|Usual Suspects, T...|  14-Aug-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0| 4.385767790262173|
|       13|Mighty Aphrodite ...|  30-Oct-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.4184782608695654|
|       14|  Postino, Il (1994)|  01-Jan-1994|               1994|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.9672131147540983|
|       15|Mr. Holland's Opu...|  29-Jan-1996|               1996|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.7781569965870307|
|       16|French Twist (Gaz...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.2051282051282053|
|       17|From Dusk Till Da...|  05-Feb-1996|               1996|http://us.imdb.co...|       0|      1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0| 3.119565217391304|
|       18|White Balloon, Th...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|               2.8|
|       19|Antonia's Line (1...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|3.9565217391304346|
|       20|Angels and Insect...|  01-Jan-1995|               1995|http://us.imdb.co...|       0|      0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|3.4166666666666665|
+---------+--------------------+-------------+-------------------+--------------------+--------+-------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+------------------+
only showing top 20 rows

In [ ]:
df_med_rating = df_med_rating.withColumnRenamed('avg(rating)', 'avg_rating')
df_med_rating.show()

+---------+------------------+
|movie id |        avg_rating|
+---------+------------------+
|      463| 3.859154929577465|
|      148|          3.203125|
|      496| 4.121212121212121|
|     1088| 2.230769230769231|
|      471|3.6108597285067874|
|      833| 3.204081632653061|
|     1591|3.1666666666666665|
|     1238|             3.125|
|     1342|               2.5|
|     1645|               4.0|
|     1580|               1.0|
|      858|               1.0|
|      243|2.4393939393939394|
|     1025|2.9318181818181817|
|      540| 2.511627906976744|
|      392|3.5441176470588234|
|      737| 2.983050847457627|
|      623| 2.923076923076923|
|     1084| 3.857142857142857|
|     1395|2.3333333333333335|
+---------+------------------+
only showing top 20 rows

In [ ]:
df_med_rating.createOrReplaceTempView('mov')

Вывожу рейтинг фильмов по средней оценке.

In [ ]:
spark.sql('SELECT * FROM mov ORDER BY avg_rating DESC').show()

+---------+-----------------+
|movie id |       avg_rating|
+---------+-----------------+
|      814|              5.0|
|     1189|              5.0|
|     1293|              5.0|
|     1122|              5.0|
|     1467|              5.0|
|     1536|              5.0|
|     1201|              5.0|
|     1599|              5.0|
|     1653|              5.0|
|     1500|              5.0|
|     1449|            4.625|
|     1642|              4.5|
|      119|              4.5|
|     1398|              4.5|
|     1594|              4.5|
|      408|4.491071428571429|
|      318|4.466442953020135|
|      169|4.466101694915254|
|      483| 4.45679012345679|
|      114|4.447761194029851|
+---------+-----------------+
only showing top 20 rows

Так по этим данным непонятно количество пользователей, поставивших оценку, то думаю, лучше вывести рейтинг по количеству поставленных оценок

In [ ]:
df_gr_count = df_rating_spark.groupBy('item id').count()

In [ ]:
df_gr_count.show()

+-------+-----+
|item id|count|
+-------+-----+
|    463|   71|
|    148|  128|
|    496|  231|
|   1088|   13|
|    471|  221|
|    833|   49|
|   1591|    6|
|   1238|    8|
|   1342|    2|
|   1645|    1|
|   1580|    1|
|    858|    3|
|    243|  132|
|   1025|   44|
|    540|   43|
|    392|   68|
|    737|   59|
|    623|   39|
|   1084|   21|
|   1395|    6|
+-------+-----+
only showing top 20 rows

###5 самых популярных фильмов

In [ ]:
df_gr_count.createOrReplaceTempView('rating')

In [ ]:
top5 = spark.sql('SELECT * FROM rating ORDER BY count DESC').show(5)

+-------+-----+
|item id|count|
+-------+-----+
|     50|  583|
|    258|  509|
|    100|  508|
|    181|  507|
|    294|  485|
+-------+-----+
only showing top 5 rows

###5 самых непопулярных фильмов

In [ ]:
top5 = spark.sql('SELECT * FROM rating ORDER BY count').show(5)

+-------+-----+
|item id|count|
+-------+-----+
|   1352|    1|
|   1618|    1|
|   1645|    1|
|   1580|    1|
|   1339|    1|
+-------+-----+
only showing top 5 rows

Хотя количество фильмов с одной оценкой конечно не 5..