In [46]:
import pandas as pd

In [47]:
col_names=['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion', 'type_of_lesion1', 'type_of_lesion2', 'type_of_lesion3', 'cp_data']
df = pd.read_csv('horse_data.csv', names = col_names, na_values = '?')
df[132:135]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3,cp_data
132,NaN,1,534572,38.0,48.0,20.0,3.0,1.0,3.0,1.0,...,43.0,73.0,2.0,1.0,NaN,1,3111,0,0,2
133,2.0,1,530294,37.9,40.0,24.0,1.0,1.0,1.0,1.0,...,40.0,5.7,NaN,NaN,1.0,1,400,0,0,2
134,1.0,1,527524,NaN,100.0,NaN,3.0,NaN,4.0,2.0,...,59.0,6.3,NaN,NaN,2.0,1,4205,0,0,2

In [48]:
#Вывод информации о данных в датафрейме.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      299 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital_Number              300 non-null    int64
 3   rectal_temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory_rate             242 non-null    float64
 6   temperature_of_extremities   244 non-null    float64
 7   peripheral_pulse             231 non-null    float64
 8   mucous_membranes             253 non-null    float64
 9   capillary_refill_time        268 non-null    float64
 10  pain                         245 non-null    float64
 11  peristalsis                  256 non-null    float64
 12  abdominal_distension         244 non-null    float64
 13  nasogastric_tube             196 non-null    float64
 14  nasogastric_reflux           194 non-null    float64
 15  nasogastric_reflux_PH        53 non-null     float64
 16  rectal_examination_feces     198 non-null    float64
 17  abdomen                      182 non-null    float64
 18  packed_cell_volume           271 non-null    float64
 19  total_protein                267 non-null    float64
 20  abdominocentesis_appearance  135 non-null    float64
 21  abdomcentesis_total_protein  102 non-null    float64
 22  outcome                      299 non-null    float64
 23  surgical_lesion              300 non-null    int64
 24  type_of_lesion1              300 non-null    int64
 25  type_of_lesion2              300 non-null    int64
 26  type_of_lesion3              300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [49]:
#Формирую датафрейм с 8 левыми столбцами
df_8 = df.iloc[:, 0:8]
df_8[150:159]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
150,2.0,1,533793,38.9,44.0,14.0,3.0,1.0
151,1.0,1,529399,39.3,NaN,NaN,4.0,3.0
152,1.0,1,533836,NaN,100.0,NaN,3.0,3.0
153,2.0,1,528804,38.6,48.0,20.0,3.0,1.0
154,2.0,1,535163,38.8,48.0,40.0,1.0,1.0
155,2.0,1,528247,38.0,48.0,20.0,3.0,3.0
156,2.0,1,528996,38.6,52.0,20.0,1.0,1.0
157,1.0,1,533928,37.8,60.0,24.0,1.0,NaN
158,2.0,1,528248,38.0,42.0,40.0,3.0,1.0

In [50]:
print('Пустых значений:', len(df_8[df_8['surgery'].isnull()]))
df_8[df_8['surgery'].isnull()]

Пустых значений: 1

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
132,NaN,1,534572,38.0,48.0,20.0,3.0,1.0

👀👀Столбец surgery - категориальная величина (1 - была операция, 2 - не было). Никаких статистик по нему, следовательно, посчитать нельзя. 
    Есть один пропуск - лошадь молодая, основные параметры в норме, можно ,допустить, что операции не было, заполним пропуск 2.

In [51]:
#Хотя мода по этому параметру ==1!
df_8['surgery'].mode()[0]

1.0

In [52]:
#И мода по этому параметру среди лошадей возраста 1 года ==1!
df_1 = df_8[df_8['Age'] ==1]
df_1['surgery'].mode()[0]

1.0

In [54]:
#Все же заполняю пустое поле на 2
df_8['surgery'].fillna(2, inplace=True)

In [55]:
# Изменяю тип данных в столбце surgery на int

df_8.surgery = pd.to_numeric(df_8['surgery'],  downcast ='integer', errors = 'coerce')

In [56]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    int8
 1   Age                         300 non-null    int64
 2   Hospital_Number             300 non-null    int64
 3   rectal_temperature          240 non-null    float64
 4   pulse                       276 non-null    float64
 5   respiratory_rate            242 non-null    float64
 6   temperature_of_extremities  244 non-null    float64
 7   peripheral_pulse            231 non-null    float64
dtypes: float64(5), int64(2), int8(1)
memory usage: 16.8 KB

In [57]:
# Проверяю что действительно заполнена 132 строка
df_8[130:135]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
130,1,1,528964,37.8,30.0,12.0,NaN,NaN
131,2,1,530670,37.6,88.0,36.0,3.0,1.0
132,2,1,534572,38.0,48.0,20.0,3.0,1.0
133,2,1,530294,37.9,40.0,24.0,1.0,1.0
134,1,1,527524,NaN,100.0,NaN,3.0,NaN

In [58]:
print('Пустых значений:', len(df_8[df_8['surgery'].isnull()]))

Пустых значений: 0

In [59]:
def analysis_column(colunm):
    """
    Функция выводит на экран все базовые статистики, границы выбросов, пустые значения заданного столбца
    """
    print(f'Анализируем столбец {colunm}:')
    print('*'*30)
    #Средние
    print('Максимальное значение = ', df_8[colunm].max())
    print('Минимальное значение ', df_8[colunm].min())
    print('Среднеарифметическое значение = ', df_8[colunm].mean())
    print('Мода = ', df_8[colunm].mode()[0])
    print('Медиана = ', df_8[colunm].median())
    ########################
    print('Стандартное отклонение = ', df_8[colunm].std())
    print('Дисперсия =  ', df_8[colunm].var())
    print('0,25 и 0,75 квантили:', df_8[colunm].quantile([0.25, 0.75]))
    # межквартильный размах
    Q1 = df_8[colunm].quantile(0.25)
    print('Q1 = ', Q1)
    Q3 = df_8[colunm].quantile(0.75)
    print('Q3 = ', Q3)
    IQR = Q3 - Q1
    print('IQR = ', IQR)

    #Выбросы
    print('Анализируем выбросы:')
    print('*'*30)
    print('Уникальные значения столбца:', sorted(df_8[colunm].unique()))
    lower_bound = Q1 - (1.5 * IQR) 
    upper_bound = Q3 + (1.5 * IQR)
    print('lower_outliers = ', lower_bound)
    print('upper_outliers = ', upper_bound)
    print('Анализируем верхнюю границу:')
    print('*'*30)
    print(df_8[df_8[colunm] > upper_bound])
    print('Анализируем нижнюю границу:')
    print('*'*30)
    print(df_8[df_8[colunm] < lower_bound])

    print('Пропуски:')
    print('*'*30)
    print(df_8[df_8[colunm].isnull()])  
    print('Пустых значений:', len(df_8[df_8[colunm].isnull()]))

In [60]:
analysis_column('Age')

Анализируем столбец Age:
******************************
Максимальное значение =  9
Минимальное значение  1
Среднеарифметическое значение =  1.64
Мода =  1
Медиана =  1.0
Стандартное отклонение =  2.1739719055576163
Дисперсия =   4.726153846153814
0,25 и 0,75 квантили: 0.25    1.0
0.75    1.0
Name: Age, dtype: float64
Q1 =  1.0
Q3 =  1.0
IQR =  0.0
Анализируем выбросы:
******************************
Уникальные значения столбца: [1, 9]
lower_outliers =  1.0
upper_outliers =  1.0
Анализируем верхнюю границу:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
3          1    9          5290409                39.1  164.0
9          2    9          5299629                38.3   90.0
13         2    9          5291329                38.0   92.0
16         1    9          5301219                 NaN  128.0
23         1    9           534998                38.3  130.0
39         1    9          5277409                39.2  146.0
41         2    9          5288249                39.0  150.0
55         1    9          5282839                38.6  160.0
74         1    9          5292929                 NaN    NaN
75         1    9           534092                39.7  100.0
82         1    9          5290759                38.1  100.0
103        1    9          5292489                38.0  140.0
109        1    9          5297379                38.4   84.0
135        1    9          5287179                38.1  136.0
191        2    9          5287279                 NaN  100.0
212        1    9          5294369                38.9  120.0
227        1    9          5289419                 NaN    NaN
229        1    9           534597                38.5  120.0
244        1    9          5291409                38.2  124.0
252        1    9          5291719                38.8  124.0
255        1    9          5294539                38.8  184.0
262        2    9          5305629                38.6   88.0
275        1    9          5297159                38.8  150.0
287        2    9          5305129                39.5   84.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
3                84.0                         4.0               1.0
9                 NaN                         1.0               NaN
13               28.0                         1.0               1.0
16               36.0                         3.0               3.0
23               60.0                         NaN               3.0
39               96.0                         NaN               NaN
41               72.0                         NaN               NaN
55               20.0                         3.0               NaN
74                NaN                         NaN               NaN
75                NaN                         3.0               3.0
82               80.0                         3.0               1.0
103              68.0                         1.0               1.0
109              40.0                         3.0               3.0
135              48.0                         3.0               3.0
191              44.0                         2.0               1.0
212              30.0                         1.0               3.0
227               NaN                         NaN               NaN
229              70.0                         NaN               NaN
244              88.0                         1.0               3.0
252              36.0                         3.0               1.0
255              84.0                         1.0               NaN
262              28.0                         NaN               NaN
275              50.0                         1.0               3.0
287              30.0                         NaN               NaN
Анализируем нижнюю границу:
******************************
Empty DataFrame
Columns: [surgery, Age, Hospital_Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse]
Index: []
Пропуски:
******************************
Empty DataFrame
Columns: [surgery, Age, Hospital_Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse]
Index: []
Пустых значений: 0

In [61]:
len(df_8[df_8['Age']== 9])

24

👀👀Пропусков значений в столбце 'Age' нет. Есть выброс. Возраcт 9 лет (24 лошади) по методике расчета получается выбросом, но такой возраст действительно может быть у лошади, поэтому это значение оставляем.
В данном примере можно считать этот столбец и категориальный величиной - молодая (1 год) и пожилая (9 лет) лошадь!

👀👀Столбец Hospital_Number не может быть уникальным по условию, значит это категориальная величина. Никаких статистик по нему, следовательно, посчитать нельзя. Пропусков нет изначально (300 значений типа int).

In [62]:
#После группировки по столбцу Hospital_Number значений меньше 300, некоторые лошадки обращались как минимум дважды,
#например, с номером 530526
df_8.groupby('Hospital_Number').count()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
Hospital_Number,,,,,,,
518476,1,1,0,0,0,1,1
521399,1,1,1,1,1,1,1
521681,1,1,1,1,1,1,1
522979,1,1,1,1,1,0,0
523190,1,1,0,1,1,0,0
...,...,...,...,...,...,...,...
5299603,1,1,1,1,1,1,1
5299629,1,1,1,1,0,1,0
5301219,1,1,0,1,1,1,1
5305129,1,1,1,1,1,0,0
5305629,1,1,1,1,1,0,0

In [63]:
df_8[df_8['Hospital_Number']== 530526]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
26,1,1,530526,38.3,72.0,30.0,4.0,3.0
233,1,1,530526,38.3,72.0,30.0,4.0,3.0

In [64]:
# Анализирую показатель ректальная температура лошадей
analysis_column('rectal_temperature')

Анализируем столбец rectal_temperature:
******************************
Максимальное значение =  40.8
Минимальное значение  35.4
Среднеарифметическое значение =  38.16791666666669
Мода =  38.0
Медиана =  38.2
Стандартное отклонение =  0.7322886641121578
Дисперсия =   0.5362466875871686
0,25 и 0,75 квантили: 0.25    37.8
0.75    38.5
Name: rectal_temperature, dtype: float64
Q1 =  37.8
Q3 =  38.5
IQR =  0.7000000000000028
Анализируем выбросы:
******************************
Уникальные значения столбца: [35.4, 36.0, 36.1, 36.4, 36.5, 36.6, 36.8, 36.9, 37.0, 37.1, 37.2, 37.3, 37.4, 37.5, 37.6, 37.7, 37.8, 37.9, 38.0, 38.1, 38.2, 38.3, 38.4, 38.5, 38.6, 38.7, 38.8, 38.9, 39.0, 39.1, 39.2, nan, 39.3, 39.4, 39.5, 39.6, 39.7, 39.9, 40.0, 40.3, 40.8]
lower_outliers =  36.74999999999999
upper_outliers =  39.550000000000004
Анализируем верхнюю границу:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
20         1    1           530157                39.9   72.0
54         2    1           529461                40.3  114.0
75         1    9           534092                39.7  100.0
91         2    1           529461                40.3  114.0
99         2    1           530002                39.6  108.0
259        1    1           527734                40.8   72.0
281        2    1           530624                40.0   78.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
20               60.0                         1.0               1.0
54               36.0                         3.0               3.0
75                NaN                         3.0               3.0
91               36.0                         3.0               3.0
99               51.0                         3.0               3.0
259              42.0                         3.0               3.0
281               NaN                         3.0               3.0
Анализируем нижнюю границу:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
44         1    1           535407                35.4  140.0
80         1    1           527518                36.4   98.0
118        1    1           533983                36.5   78.0
141        2    1           522979                36.0   42.0
238        2    1           528702                36.1   88.0
251        2    1           527940                36.6   42.0
298        1    1           530612                36.5  100.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
44               24.0                         3.0               3.0
80               35.0                         3.0               3.0
118              30.0                         1.0               NaN
141              30.0                         NaN               NaN
238               NaN                         3.0               3.0
251              18.0                         3.0               3.0
298              24.0                         3.0               3.0
Пропуски:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
5          2    1           528355                 NaN    NaN
7          1    1           529607                 NaN   60.0
8          2    1           530051                 NaN   80.0
16         1    9          5301219                 NaN  128.0
28         1    1          5279442                 NaN    NaN
34         1    1           529796                 NaN  100.0
35         2    1           528812                 NaN  104.0
40         1    1           529498                 NaN   88.0
43         1    1           534069                 NaN  120.0
45         2    1           529827                 NaN  120.0
52         2    1           529483                 NaN    NaN
56         1    1           528872                 NaN    NaN
57         1    1           529640                 NaN   64.0
58         1    1           528298                 NaN    NaN
59         2    1           528904                 NaN   96.0
65         1    1           534885                 NaN   60.0
68         2    1           529777                 NaN   52.0
74         1    9          5292929                 NaN    NaN
78         1    1           530693                 NaN    NaN
86         1    1           529388                 NaN   88.0
87         2    1           528006                 NaN   40.0
93         2    1           530310                 NaN    NaN
96         2    1           530319                 NaN   84.0
101        1    1           534899                 NaN   60.0
105        1    1           530381                 NaN   70.0
110        1    1           527544                 NaN   70.0
112        1    1           534963                 NaN   40.0
115        2    1           533723                 NaN    NaN
134        1    1           527524                 NaN  100.0
136        1    1           530693                 NaN    NaN
142        1    1           530402                 NaN  120.0
145        2    1           535246                 NaN   80.0
152        1    1           533836                 NaN  100.0
159        2    1           528134                 NaN    NaN
160        1    1           527916                 NaN    NaN
167        2    1           528299                 NaN   44.0
169        1    1           535085                 NaN   65.0
173        1    1           529729                 NaN  104.0
174        2    1           518476                 NaN    NaN
175        1    1           527929                 NaN    NaN
177        1    1           523190                 NaN   68.0
178        1    1           533968                 NaN   60.0
191        2    9          5287279                 NaN  100.0
193        1    1           529373                 NaN   60.0
207        1    1           530297                 NaN    NaN
216        2    1           528977                 NaN    NaN
219        1    1           529736                 NaN   52.0
222        1    1           528800                 NaN  112.0
227        1    9          5289419                 NaN    NaN
242        1    1           530354                 NaN   36.0
245        2    1           528904                 NaN   96.0
253        2    1           530561                 NaN  112.0
254        1    1           533738                 NaN   80.0
265        2    1           528590                 NaN   56.0
272        1    1           529796                 NaN  100.0
274        1    1           534624                 NaN   76.0
282        1    1           527544                 NaN   70.0
288        1    1           529428                 NaN    NaN
293        1    1           534004                 NaN   78.0
295        1    1           533886                 NaN  120.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
5                 NaN                         2.0               1.0
7                 NaN                         3.0               NaN
8                36.0                         3.0               4.0
16               36.0                         3.0               3.0
28                NaN                         NaN               NaN
34               30.0                         3.0               3.0
35               24.0                         4.0               3.0
40                NaN                         3.0               3.0
43                NaN                         3.0               4.0
45                NaN                         4.0               3.0
52                NaN                         1.0               1.0
56                NaN                         NaN               NaN
57               36.0                         2.0               NaN
58               20.0                         4.0               3.0
59                NaN                         3.0               3.0
65               36.0                         3.0               1.0
68               16.0                         1.0               NaN
74                NaN                         NaN               NaN
78                NaN                         3.0               3.0
86               40.0                         3.0               3.0
87               16.0                         NaN               NaN
93                NaN                         3.0               3.0
96               36.0                         NaN               NaN
101              20.0                         4.0               3.0
105              36.0                         1.0               NaN
110              16.0                         3.0               4.0
112               NaN                         2.0               1.0
115              40.0                         3.0               1.0
134               NaN                         3.0               NaN
136               NaN                         3.0               3.0
142               NaN                         4.0               3.0
145              32.0                         3.0               3.0
152               NaN                         3.0               3.0
159              12.0                         1.0               1.0
160               NaN                         NaN               NaN
167              24.0                         1.0               1.0
169              24.0                         NaN               NaN
173               NaN                         3.0               3.0
174               NaN                         3.0               4.0
175               NaN                         NaN               NaN
177              14.0                         NaN               NaN
178              30.0                         3.0               3.0
191              44.0                         2.0               1.0
193              48.0                         3.0               3.0
207               NaN                         NaN               NaN
216               NaN                         NaN               NaN
219              28.0                         3.0               3.0
222              13.0                         4.0               4.0
227               NaN                         NaN               NaN
242              32.0                         1.0               1.0
245               NaN                         3.0               3.0
253              24.0                         3.0               3.0
254               NaN                         3.0               3.0
265              68.0                         3.0               1.0
272              30.0                         3.0               3.0
274               NaN                         NaN               3.0
282              16.0                         3.0               4.0
288               NaN                         NaN               NaN
293              24.0                         3.0               3.0
295              70.0                         4.0               NaN
Пустых значений: 60

👀👀Высокая температура в пределах реальных значений, сопровождается учащенным дыханием и часто повышенным пульсом,  что характерно для больных животных. Оставляем верхние выбросы.
Нижние выбросы: показатели 35.4-36.6  часто встречатся у прооперированных лошадей,такие показатели могут присутствовать у нездоровых животных. Оставляем.
Есть пропуски: заполняю медианой (лошади, сгруппированные по возрасту и признаку наличия операции)

In [65]:
#Заполняю пропуски в столбце rectal_temperature медианой
df_8['rectal_temperature'].fillna(df_8.groupby(['Age','surgery'])['rectal_temperature'].transform('median'), inplace = True)
df_8[40:55]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
40,1,1,529498,38.1,88.0,NaN,3.0,3.0
41,2,9,5288249,39.0,150.0,72.0,NaN,NaN
42,2,1,530301,38.0,60.0,12.0,3.0,1.0
43,1,1,534069,38.1,120.0,NaN,3.0,4.0
44,1,1,535407,35.4,140.0,24.0,3.0,3.0
45,2,1,529827,38.2,120.0,NaN,4.0,3.0
46,1,1,529888,37.9,60.0,15.0,3.0,NaN
47,2,1,529821,37.5,48.0,16.0,1.0,1.0
48,1,1,528890,38.9,80.0,44.0,3.0,3.0
49,2,1,529642,37.2,84.0,48.0,3.0,3.0
50,2,1,529766,38.6,46.0,NaN,1.0,1.0
51,1,1,527706,37.4,84.0,36.0,1.0,NaN
52,2,1,529483,38.2,NaN,NaN,1.0,1.0
53,2,1,530544,38.6,40.0,20.0,NaN,NaN
54,2,1,529461,40.3,114.0,36.0,3.0,3.0

In [66]:
print('Пустых значений:', len(df_8[df_8['rectal_temperature'].isnull()]))

Пустых значений: 0

In [67]:
# Изменяю тип данных в столбце pulse на int ПОЧЕМУ НЕ ИЗМЕНЯЕТСЯ ТИП? из-за None?

df_8.pulse = pd.to_numeric(df_8['pulse'],  downcast ='integer', errors = 'coerce')

In [68]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    int8
 1   Age                         300 non-null    int64
 2   Hospital_Number             300 non-null    int64
 3   rectal_temperature          300 non-null    float64
 4   pulse                       276 non-null    float64
 5   respiratory_rate            242 non-null    float64
 6   temperature_of_extremities  244 non-null    float64
 7   peripheral_pulse            231 non-null    float64
dtypes: float64(5), int64(2), int8(1)
memory usage: 16.8 KB

In [69]:
analysis_column('pulse')

Анализируем столбец pulse:
******************************
Максимальное значение =  184.0
Минимальное значение  30.0
Среднеарифметическое значение =  71.91304347826087
Мода =  48.0
Медиана =  64.0
Стандартное отклонение =  28.630556660735003
Дисперсия =   819.7087747035575
0,25 и 0,75 квантили: 0.25    48.0
0.75    88.0
Name: pulse, dtype: float64
Q1 =  48.0
Q3 =  88.0
IQR =  40.0
Анализируем выбросы:
******************************
Уникальные значения столбца: [30.0, 36.0, 38.0, 40.0, 42.0, 44.0, 45.0, 46.0, 48.0, 49.0, 50.0, 52.0, 54.0, 56.0, 60.0, 64.0, 65.0, 66.0, 68.0, 70.0, 72.0, 75.0, 76.0, 78.0, 80.0, 82.0, 84.0, 86.0, 88.0, 90.0, 92.0, 96.0, 98.0, 100.0, 104.0, 108.0, 110.0, 112.0, 114.0, 120.0, 124.0, 128.0, 129.0, 130.0, 132.0, 136.0, 140.0, 150.0, 160.0, 164.0, nan, 146.0, 184.0]
lower_outliers =  -12.0
upper_outliers =  148.0
Анализируем верхнюю границу:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
3          1    9          5290409                39.1  164.0
41         2    9          5288249                39.0  150.0
55         1    9          5282839                38.6  160.0
255        1    9          5294539                38.8  184.0
275        1    9          5297159                38.8  150.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
3                84.0                         4.0               1.0
41               72.0                         NaN               NaN
55               20.0                         3.0               NaN
255              84.0                         1.0               NaN
275              50.0                         1.0               3.0
Анализируем нижнюю границу:
******************************
Empty DataFrame
Columns: [surgery, Age, Hospital_Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse]
Index: []
Пропуски:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
5          2    1           528355                38.2    NaN
28         1    1          5279442                38.1    NaN
52         2    1           529483                38.2    NaN
56         1    1           528872                38.1    NaN
58         1    1           528298                38.1    NaN
74         1    9          5292929                38.6    NaN
78         1    1           530693                38.1    NaN
83         1    1          5279822                38.0    NaN
93         2    1           530310                38.2    NaN
115        2    1           533723                38.2    NaN
117        2    1          5290482                39.5    NaN
126        1    1           530384                38.7    NaN
136        1    1           530693                38.1    NaN
151        1    1           529399                39.3    NaN
159        2    1           528134                38.2    NaN
160        1    1           527916                38.1    NaN
174        2    1           518476                38.2    NaN
175        1    1           527929                38.1    NaN
182        1    1          5279822                38.0    NaN
204        1    1           529528                39.2    NaN
207        1    1           530297                38.1    NaN
216        2    1           528977                38.2    NaN
227        1    9          5289419                38.6    NaN
288        1    1           529428                38.1    NaN

     respiratory_rate  temperature_of_extremities  peripheral_pulse
5                 NaN                         2.0               1.0
28                NaN                         NaN               NaN
52                NaN                         1.0               1.0
56                NaN                         NaN               NaN
58               20.0                         4.0               3.0
74                NaN                         NaN               NaN
78                NaN                         3.0               3.0
83               24.0                         3.0               3.0
93                NaN                         3.0               3.0
115              40.0                         3.0               1.0
117               NaN                         3.0               3.0
126               NaN                         3.0               1.0
136               NaN                         3.0               3.0
151               NaN                         4.0               3.0
159              12.0                         1.0               1.0
160               NaN                         NaN               NaN
174               NaN                         3.0               4.0
175               NaN                         NaN               NaN
182              24.0                         3.0               3.0
204              23.0                         3.0               1.0
207               NaN                         NaN               NaN
216               NaN                         NaN               NaN
227               NaN                         NaN               NaN
288               NaN                         NaN               NaN
Пустых значений: 24

👀👀Высокий пульс наблюдается у пожилых лошадей, почти всегда перенесших операцию, скорее всего это реальные данные, оставляем эти выбросы.
Нижняя граница выбросов получилась отрицательной, чего не может быть, и отрицательных значений нет в нашем датафрейме. Минимальное значений пульса 30 ударов в минуту - это почти норма.

Пропуски
Есть пропуски. Заполним их медианой значений пульса лошадей, сгруппированных по возрасту и признаку наличия операции.

In [70]:
df_8.groupby(['Age','surgery'])['pulse'].median()

Age  surgery
1    1           66.0
     2           54.0
9    1          129.0
     2           91.0
Name: pulse, dtype: float64

In [71]:
#Заполняю пропуски в столбце pulse медианой
df_8['pulse'].fillna(df_8.groupby(['Age','surgery'])['pulse'].transform('median'), inplace = True)
df_8[215:228]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
215,1,1,529135,37.8,40.0,12.0,1.0,1.0
216,2,1,528977,38.2,54.0,NaN,NaN,NaN
217,1,1,5279441,38.0,76.0,18.0,NaN,NaN
218,1,1,535240,38.1,40.0,36.0,1.0,2.0
219,1,1,529736,38.1,52.0,28.0,3.0,3.0
220,1,1,535029,39.2,88.0,58.0,4.0,4.0
221,1,1,535031,38.5,92.0,40.0,4.0,3.0
222,1,1,528800,38.1,112.0,13.0,4.0,4.0
223,1,1,528178,37.7,66.0,12.0,1.0,1.0
224,1,1,535392,38.8,50.0,14.0,1.0,1.0
225,2,1,528931,38.4,54.0,24.0,1.0,1.0
226,1,1,528503,39.2,120.0,20.0,4.0,3.0
227,1,9,5289419,38.6,129.0,NaN,NaN,NaN

In [72]:
#Выборочная проверка заполнения
df_8[150:159]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
150,2,1,533793,38.9,44.0,14.0,3.0,1.0
151,1,1,529399,39.3,66.0,NaN,4.0,3.0
152,1,1,533836,38.1,100.0,NaN,3.0,3.0
153,2,1,528804,38.6,48.0,20.0,3.0,1.0
154,2,1,535163,38.8,48.0,40.0,1.0,1.0
155,2,1,528247,38.0,48.0,20.0,3.0,3.0
156,2,1,528996,38.6,52.0,20.0,1.0,1.0
157,1,1,533928,37.8,60.0,24.0,1.0,NaN
158,2,1,528248,38.0,42.0,40.0,3.0,1.0

In [73]:
print('Пустых значений:', len(df_8[df_8['pulse'].isnull()]))

Пустых значений: 0

In [74]:
analysis_column('respiratory_rate')

Анализируем столбец respiratory_rate:
******************************
Максимальное значение =  96.0
Минимальное значение  8.0
Среднеарифметическое значение =  30.417355371900825
Мода =  20.0
Медиана =  24.5
Стандартное отклонение =  17.642231385134664
Дисперсия =   311.24832824663054
0,25 и 0,75 квантили: 0.25    18.5
0.75    36.0
Name: respiratory_rate, dtype: float64
Q1 =  18.5
Q3 =  36.0
IQR =  17.5
Анализируем выбросы:
******************************
Уникальные значения столбца: [8.0, 9.0, 10.0, 12.0, 13.0, 14.0, 15.0, 16.0, 18.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 28.0, 30.0, 32.0, 34.0, 35.0, 36.0, 40.0, 42.0, 44.0, 48.0, 50.0, 51.0, 52.0, 58.0, 66.0, 72.0, 84.0, nan, 60.0, 68.0, 70.0, 80.0, 88.0, 90.0, 96.0]
lower_outliers =  -7.75
upper_outliers =  62.25
Анализируем верхнюю границу:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
3          1    9          5290409                39.1  164.0
39         1    9          5277409                39.2  146.0
41         2    9          5288249                39.0  150.0
82         1    9          5290759                38.1  100.0
84         1    1           529849                37.8   60.0
103        1    9          5292489                38.0  140.0
106        1    1           528668                38.3   52.0
120        1    1           528682                39.4   54.0
125        1    1           528461                38.0   42.0
186        1    1          5278331                39.3   64.0
208        1    1           535338                37.8   88.0
229        1    9           534597                38.5  120.0
244        1    9          5291409                38.2  124.0
255        1    9          5294539                38.8  184.0
265        2    1           528590                38.2   56.0
269        1    1           527883                39.3   64.0
295        1    1           533886                38.1  120.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
3                84.0                         4.0               1.0
39               96.0                         NaN               NaN
41               72.0                         NaN               NaN
82               80.0                         3.0               1.0
84               80.0                         1.0               3.0
103              68.0                         1.0               1.0
106              96.0                         NaN               3.0
120              66.0                         1.0               1.0
125              68.0                         4.0               1.0
186              90.0                         2.0               3.0
208              80.0                         3.0               3.0
229              70.0                         NaN               NaN
244              88.0                         1.0               3.0
255              84.0                         1.0               NaN
265              68.0                         3.0               1.0
269              90.0                         2.0               3.0
295              70.0                         4.0               NaN
Анализируем нижнюю границу:
******************************
Empty DataFrame
Columns: [surgery, Age, Hospital_Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse]
Index: []
Пропуски:
******************************
     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
5          2    1           528355                38.2   54.0
7          1    1           529607                38.1   60.0
9          2    9          5299629                38.3   90.0
28         1    1          5279442                38.1   66.0
29         2    1           535415                37.7   48.0
32         1    1           529427                37.2   60.0
37         1    1           533847                37.8   72.0
38         2    1           528996                38.6   52.0
40         1    1           529498                38.1   88.0
43         1    1           534069                38.1  120.0
45         2    1           529827                38.2  120.0
50         2    1           529766                38.6   46.0
52         2    1           529483                38.2   54.0
56         1    1           528872                38.1   66.0
59         2    1           528904                38.2   96.0
61         2    1           527957                38.5   60.0
66         2    1           534784                37.9   72.0
72         1    1          5299253                37.7   56.0
74         1    9          5292929                38.6  129.0
75         1    9           534092                39.7  100.0
78         1    1           530693                38.1   66.0
81         1    1           534756                37.3   40.0
93         2    1           530310                38.2   54.0
112        1    1           534963                38.1   40.0
117        2    1          5290482                39.5   54.0
126        1    1           530384                38.7   66.0
129        1    1           527698                38.4   49.0
134        1    1           527524                38.1  100.0
136        1    1           530693                38.1   66.0
137        1    1           534324                38.0   48.0
138        2    1           532349                38.0   56.0
142        1    1           530402                38.1  120.0
146        1    1           534115                38.2   48.0
148        1    1           529272                38.3  132.0
151        1    1           529399                39.3   66.0
152        1    1           533836                38.1  100.0
160        1    1           527916                38.1   66.0
164        1    1           528523                38.7   76.0
173        1    1           529729                38.1  104.0
174        2    1           518476                38.2   54.0
175        1    1           527929                38.1   66.0
179        2    1           528151                38.5  100.0
188        1    1           533887                38.5   60.0
201        1    1           528641                38.5   86.0
205        2    1           528151                38.5  100.0
207        1    1           530297                38.1   66.0
216        2    1           528977                38.2   54.0
227        1    9          5289419                38.6  129.0
238        2    1           528702                36.1   88.0
245        2    1           528904                38.2   96.0
249        2    1           528169                38.2   48.0
254        1    1           533738                38.1   80.0
256        1    1           533871                37.5   72.0
271        1    1           534626                37.7   80.0
274        1    1           534624                38.1   76.0
281        2    1           530624                40.0   78.0
284        2    1           530439                38.5   54.0
288        1    1           529428                38.1   66.0

     respiratory_rate  temperature_of_extremities  peripheral_pulse
5                 NaN                         2.0               1.0
7                 NaN                         3.0               NaN
9                 NaN                         1.0               NaN
28                NaN                         NaN               NaN
29                NaN                         2.0               1.0
32                NaN                         2.0               1.0
37                NaN                         NaN               3.0
38                NaN                         1.0               1.0
40                NaN                         3.0               3.0
43                NaN                         3.0               4.0
45                NaN                         4.0               3.0
50                NaN                         1.0               1.0
52                NaN                         1.0               1.0
56                NaN                         NaN               NaN
59                NaN                         3.0               3.0
61                NaN                         2.0               2.0
66                NaN                         1.0               1.0
72                NaN                         NaN               NaN
74                NaN                         NaN               NaN
75                NaN                         3.0               3.0
78                NaN                         3.0               3.0
81                NaN                         NaN               3.0
93                NaN                         3.0               3.0
112               NaN                         2.0               1.0
117               NaN                         3.0               3.0
126               NaN                         3.0               1.0
129               NaN                         NaN               NaN
134               NaN                         3.0               NaN
136               NaN                         3.0               3.0
137               NaN                         1.0               1.0
138               NaN                         1.0               2.0
142               NaN                         4.0               3.0
146               NaN                         1.0               3.0
148               NaN                         NaN               3.0
151               NaN                         4.0               3.0
152               NaN                         3.0               3.0
160               NaN                         NaN               NaN
164               NaN                         1.0               1.0
173               NaN                         3.0               3.0
174               NaN                         3.0               4.0
175               NaN                         NaN               NaN
179               NaN                         3.0               3.0
188               NaN                         1.0               1.0
201               NaN                         1.0               1.0
205               NaN                         3.0               3.0
207               NaN                         NaN               NaN
216               NaN                         NaN               NaN
227               NaN                         NaN               NaN
238               NaN                         3.0               3.0
245               NaN                         3.0               3.0
249               NaN                         2.0               NaN
254               NaN                         3.0               3.0
256               NaN                         2.0               1.0
271               NaN                         3.0               3.0
274               NaN                         NaN               3.0
281               NaN                         3.0               3.0
284               NaN                         1.0               1.0
288               NaN                         NaN               NaN
Пустых значений: 58

👀👀Высокая частота дыхания часто сопровождается высокой температурой и пульсом, думаю, это адекватные данные, оставляем.
Нижний выбросов нет, 8 - нормальная частота дыхания.
Пропуски. Заполяю медианой значений столбца respiratory_rate (группировка по возрасту и признаку операции)

In [75]:
#Заполняю пропуски медианным значением respiratory_rate (группировка по возрасту и признаку операции)
df_8['respiratory_rate'].fillna(df_8.groupby(['surgery', 'Age'])['respiratory_rate'].transform('median'), inplace = True)
df_8[240:255]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
240,1,1,529160,38.0,90.0,30.0,4.0,3.0
241,1,1,529045,38.2,52.0,16.0,1.0,1.0
242,1,1,530354,38.1,36.0,32.0,1.0,1.0
243,1,1,5281091,38.4,92.0,20.0,1.0,NaN
244,1,9,5291409,38.2,124.0,88.0,1.0,3.0
245,2,1,528904,38.2,96.0,24.0,3.0,3.0
246,1,1,530366,37.6,68.0,32.0,3.0,NaN
247,1,1,530170,38.1,88.0,24.0,3.0,3.0
248,1,1,527709,38.0,108.0,60.0,2.0,3.0
249,2,1,528169,38.2,48.0,24.0,2.0,NaN
250,1,1,535043,39.3,100.0,51.0,4.0,4.0
251,2,1,527940,36.6,42.0,18.0,3.0,3.0
252,1,9,5291719,38.8,124.0,36.0,3.0,1.0
253,2,1,530561,38.2,112.0,24.0,3.0,3.0
254,1,1,533738,38.1,80.0,24.0,3.0,3.0

In [76]:
len(df_8[df_8['respiratory_rate'].isnull()])

0

👀👀Столбец temperature_of_extremities. Категориальная величина. Никаких статистик получить нельзя.

In [89]:
#Изменяю тип данных в столбце temperature_of_extremities ПОЧЕМУ НЕ МЕНЯЕТСЯ ТИП?
#df_8.temperature_of_extremities = pd.to_numeric(df_8['temperature_of_extremities'],  downcast ='integer', errors = 'coerce')
#ASTYPE СРАБОТАЛ!
df_8['temperature_of_extremities'] = df_8.temperature_of_extremities.astype('int64')
df_8[150:159]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
150,2,1,533793,38.9,44.0,14.0,3,1.0
151,1,1,529399,39.3,66.0,24.0,4,3.0
152,1,1,533836,38.1,100.0,24.0,3,3.0
153,2,1,528804,38.6,48.0,20.0,3,1.0
154,2,1,535163,38.8,48.0,40.0,1,1.0
155,2,1,528247,38.0,48.0,20.0,3,3.0
156,2,1,528996,38.6,52.0,20.0,1,1.0
157,1,1,533928,37.8,60.0,24.0,1,1.0
158,2,1,528248,38.0,42.0,40.0,3,1.0

In [90]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    int8
 1   Age                         300 non-null    int64
 2   Hospital_Number             300 non-null    int64
 3   rectal_temperature          300 non-null    float64
 4   pulse                       300 non-null    float64
 5   respiratory_rate            300 non-null    float64
 6   temperature_of_extremities  300 non-null    int64
 7   peripheral_pulse            300 non-null    float64
dtypes: float64(4), int64(3), int8(1)
memory usage: 16.8 KB

In [78]:
len(df_8[df_8['temperature_of_extremities'].isnull()])

56

In [35]:
df_8[df_8['temperature_of_extremities'].isnull()]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
1,1,1,534817,39.2,88.0,20.0,NaN,NaN
4,2,1,530255,37.3,104.0,35.0,NaN,NaN
17,2,1,526639,37.5,48.0,24.0,NaN,NaN
23,1,9,534998,38.3,130.0,60.0,NaN,3.0
25,2,1,529518,37.8,60.0,42.0,NaN,NaN
28,1,1,5279442,38.1,66.0,24.0,NaN,NaN
36,2,1,529493,38.3,112.0,16.0,NaN,3.0
37,1,1,533847,37.8,72.0,24.0,NaN,3.0
39,1,9,5277409,39.2,146.0,96.0,NaN,NaN
41,2,9,5288249,39.0,150.0,72.0,NaN,NaN
53,2,1,530544,38.6,40.0,20.0,NaN,NaN
56,1,1,528872,38.1,66.0,24.0,NaN,NaN
72,1,1,5299253,37.7,56.0,24.0,NaN,NaN
74,1,9,5292929,38.6,129.0,60.0,NaN,NaN
81,1,1,534756,37.3,40.0,24.0,NaN,3.0
87,2,1,528006,38.2,40.0,16.0,NaN,NaN
90,2,1,534197,38.0,52.0,16.0,NaN,NaN
95,1,1,535158,37.3,48.0,20.0,NaN,1.0
96,2,1,530319,38.2,84.0,36.0,NaN,NaN
106,1,1,528668,38.3,52.0,96.0,NaN,3.0
113,1,1,527933,36.8,60.0,28.0,NaN,NaN
121,1,1,534556,38.3,80.0,40.0,NaN,NaN
128,1,1,535330,37.4,84.0,20.0,NaN,NaN
129,1,1,527698,38.4,49.0,24.0,NaN,NaN
130,1,1,528964,37.8,30.0,12.0,NaN,NaN
141,2,1,522979,36.0,42.0,30.0,NaN,NaN
148,1,1,529272,38.3,132.0,24.0,NaN,3.0
149,2,1,535314,38.7,48.0,24.0,NaN,NaN
160,1,1,527916,38.1,66.0,24.0,NaN,NaN
161,1,1,530431,38.3,42.0,24.0,NaN,NaN
165,1,1,534925,39.4,120.0,48.0,NaN,NaN
169,1,1,535085,38.1,65.0,24.0,NaN,NaN
175,1,1,527929,38.1,66.0,24.0,NaN,NaN
177,1,1,523190,38.1,68.0,14.0,NaN,NaN
181,2,1,528305,37.8,48.0,14.0,NaN,NaN
190,1,1,528742,37.1,40.0,8.0,NaN,1.0
202,1,1,534073,37.5,48.0,40.0,NaN,NaN
207,1,1,530297,38.1,66.0,24.0,NaN,NaN
210,1,1,530401,37.9,68.0,20.0,NaN,1.0
216,2,1,528977,38.2,54.0,24.0,NaN,NaN
217,1,1,5279441,38.0,76.0,18.0,NaN,NaN
227,1,9,5289419,38.6,129.0,60.0,NaN,NaN
229,1,9,534597,38.5,120.0,70.0,NaN,NaN
232,1,1,5262543,38.5,30.0,18.0,NaN,NaN
239,1,1,534183,38.1,70.0,22.0,NaN,1.0
260,2,1,534933,38.0,40.0,25.0,NaN,1.0
262,2,9,5305629,38.6,88.0,28.0,NaN,NaN
263,1,1,528743,37.1,75.0,36.0,NaN,NaN
268,1,1,534403,38.2,42.0,20.0,NaN,NaN
274,1,1,534624,38.1,76.0,24.0,NaN,3.0
280,1,1,534644,38.6,48.0,12.0,NaN,NaN
283,1,1,527758,38.2,72.0,18.0,NaN,NaN
287,2,9,5305129,39.5,84.0,30.0,NaN,NaN
288,1,1,529428,38.1,66.0,24.0,NaN,NaN
289,1,1,529126,38.0,50.0,36.0,NaN,1.0
299,1,1,534618,37.2,40.0,20.0,NaN,NaN

👀👀Пропуски заполню МОДОЙ значения temperature_of_extremities

In [79]:
df_8['temperature_of_extremities'].mode()[0]

3.0

In [80]:
df_8['temperature_of_extremities'].fillna(df_8['temperature_of_extremities'].mode()[0], inplace = True)
df_8[250:255]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
250,1,1,535043,39.3,100.0,51.0,4.0,4.0
251,2,1,527940,36.6,42.0,18.0,3.0,3.0
252,1,9,5291719,38.8,124.0,36.0,3.0,1.0
253,2,1,530561,38.2,112.0,24.0,3.0,3.0
254,1,1,533738,38.1,80.0,24.0,3.0,3.0

In [81]:
print('Пустых значений:', len(df_8[df_8['temperature_of_extremities'].isnull()]))

Пустых значений: 0

In [82]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    int8
 1   Age                         300 non-null    int64
 2   Hospital_Number             300 non-null    int64
 3   rectal_temperature          300 non-null    float64
 4   pulse                       300 non-null    float64
 5   respiratory_rate            300 non-null    float64
 6   temperature_of_extremities  300 non-null    float64
 7   peripheral_pulse            231 non-null    float64
dtypes: float64(5), int64(2), int8(1)
memory usage: 16.8 KB

👀👀Значения peripheral_pulse категориальная величина. Есть пропуски.

In [83]:
# Пытаюсь изменить тип данных в столбце peripheral_pulse НЕ МЕНЯЕТСЯ!
df_8.peripheral_pulse = pd.to_numeric(df_8['peripheral_pulse'],  downcast ='integer', errors = 'coerce')
df_8[150:159]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
150,2,1,533793,38.9,44.0,14.0,3.0,1.0
151,1,1,529399,39.3,66.0,24.0,4.0,3.0
152,1,1,533836,38.1,100.0,24.0,3.0,3.0
153,2,1,528804,38.6,48.0,20.0,3.0,1.0
154,2,1,535163,38.8,48.0,40.0,1.0,1.0
155,2,1,528247,38.0,48.0,20.0,3.0,3.0
156,2,1,528996,38.6,52.0,20.0,1.0,1.0
157,1,1,533928,37.8,60.0,24.0,1.0,NaN
158,2,1,528248,38.0,42.0,40.0,3.0,1.0

In [84]:
print('Пустых значений:', len(df_8[df_8['peripheral_pulse'].isnull()]))
df_8[df_8['peripheral_pulse'].isnull()]

Пустых значений: 69

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
1,1,1,534817,39.2,88.0,20.0,3.0,NaN
4,2,1,530255,37.3,104.0,35.0,3.0,NaN
7,1,1,529607,38.1,60.0,24.0,3.0,NaN
9,2,9,5299629,38.3,90.0,30.0,1.0,NaN
11,2,1,527927,39.1,72.0,52.0,2.0,NaN
...,...,...,...,...,...,...,...,...
283,1,1,527758,38.2,72.0,18.0,3.0,NaN
287,2,9,5305129,39.5,84.0,30.0,3.0,NaN
288,1,1,529428,38.1,66.0,24.0,3.0,NaN
295,1,1,533886,38.1,120.0,70.0,4.0,NaN
299,1,1,534618,37.2,40.0,20.0,3.0,NaN

👀👀Пропуски заполню модой по этому показателю

In [85]:
df_8['peripheral_pulse'].mode()[0]

1.0

In [86]:
df_8['peripheral_pulse'].fillna(df_8['peripheral_pulse'].mode()[0], inplace = True)
df_8[1:10]

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse
1,1,1,534817,39.2,88.0,20.0,3.0,1.0
2,2,1,530334,38.3,40.0,24.0,1.0,1.0
3,1,9,5290409,39.1,164.0,84.0,4.0,1.0
4,2,1,530255,37.3,104.0,35.0,3.0,1.0
5,2,1,528355,38.2,54.0,24.0,2.0,1.0
6,1,1,526802,37.9,48.0,16.0,1.0,1.0
7,1,1,529607,38.1,60.0,24.0,3.0,1.0
8,2,1,530051,38.2,80.0,36.0,3.0,4.0
9,2,9,5299629,38.3,90.0,30.0,1.0,1.0

In [87]:
print('Пустых значений:', len(df_8[df_8['peripheral_pulse'].isnull()]))

Пустых значений: 0

In [88]:
#Пропусков нет
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    int8
 1   Age                         300 non-null    int64
 2   Hospital_Number             300 non-null    int64
 3   rectal_temperature          300 non-null    float64
 4   pulse                       300 non-null    float64
 5   respiratory_rate            300 non-null    float64
 6   temperature_of_extremities  300 non-null    float64
 7   peripheral_pulse            300 non-null    float64
dtypes: float64(5), int64(2), int8(1)
memory usage: 16.8 KB

In [ ]:
df_8